.page-header
    h4 Deleted Client Proposals:
if clients
    each client in clients
        .panel.panel-default
            .panel-heading
                h4
                .p.card-text
                |  #{client.project}
            .li.list-group-item
                strong Name:
                .p.card-text
                |  #{client.name}
            .li.list-group-item
                strong Email:
                .p.card-text
                |  #{client.email}
            .li.list-group-item
                strong Organization:
                .p.card-text
                |  #{client.organization}
            .li.list-group-item
                strong Description:
                .p.card-text
                |  #{client.description}
            .li.list-group-item
                a(href=client.presentation) Project Presentation / Website URL
            .li.list-group-item
                strong Submitted For Term:
                |  #{client.term}
            .panel-footer
                .row
                    .col-md-3
                        strong Current Status:
                        |  #{client.status}
                    .col-md-9
                        form(method='POST')
                            input(type='hidden', name='_csrf', value=_csrf)
                            input(type='hidden', name='clientID', value= client._id)
                            input(type='hidden', name='Decision', value= 'Pending')
                            button.btn.btn-primary.btn-sm.pull-right(type='submit', value='Pending') Move Deleted Request to Pending List