extends ../layout
block extraHeader
    script(src='/js/emailConfirmation.js')
    style.
        .btn span.glyphicon {
            opacity: 0;
            padding-right: 10px;
        }

        .btn.active span.glyphicon {
            opacity: 1;
        }
block content
    #breadcrumb
    script.
        var subject = "#{subject}";
        var recipients = !{JSON.stringify(recipients)};
        var body = !{JSON.stringify(body)};
        var senderName = "#{senderName}";
    h4 Please indicate if your emails fit into one of the following categories, so that their progress is viewable on the previous page.
    .btn-group(data-toggle='buttons')
        label.btn.btn-success#Approve
            input(type='checkbox', autocomplete='off')
            |
            span.glyphicon.glyphicon-ok
            span Approval
        |
        label.btn.btn-warning#Deny
            input(type='checkbox', autocomplete='off')
            |
            span.glyphicon.glyphicon-ok
            span Denial
        |
        label.btn.btn-danger#Delete
            input(type='checkbox', autocomplete='off')
            |
            span.glyphicon.glyphicon-ok
            span Deletion
        |
        label.btn.btn-info#Schedule
            input(type='checkbox', autocomplete='off')
            |
            span.glyphicon.glyphicon-ok
            span Scheduling
    hr
    if recipients
        each recipient in recipients
            .panel.panel-default
                .panel-heading
                    h4 #{recipient.name} - #{recipient.project}
                .li.list-group-item
                    strong From:
                    |  #{senderName}
                .li.list-group-item
                    strong To:
                    |  #{recipient.email}
                .li.list-group-item
                    strong Subject:
                    |  #{subject}
                .li.list-group-item
                    strong Body:
                    .body(data-id=recipient._id style='white-space: pre-line')
                .panel-footer
                    a.pull-right.mailTo(id=recipient._id, href='#') mailTo link.
                    strong INFO: Client submitted for term:
                    |  #{recipient.term}
    .row.col-xs-12
        a.btn.btn-danger.btn-sm.pull-left(href='/instructor/email-clients', role='button') Go back
        form.submit(method='POST', action="/instructor/email-clients/confirmation")
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='Decision', value= 'Automatic')
            button.btn.btn-success.btn-sm.pull-right(type='submit', value='Automatic') Automatically send emails
        form.submit(method='POST', action="/instructor/email-clients/confirmation")
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='Decision', value= 'Manual')
            button.btn.btn-info.btn-sm.pull-right(type='submit', value='Manual') I have sent with mailto links


